@charset "UTF-8";
/* 共通部分 */
.body {
    font-family: "Kaiti SC","Yu Gothic Medium","游ゴシック Medium",Yugothic,"游ゴシック体","ヒラギノ角ゴ Pro W3", sans-serif;
}
.wrapper {
    max-width: 1080px;
    margin-left: 5%;
    margin-right: 5%;
}
h2 {
    font-family: 'Cormorant Garamond', serif;
}
p {
    font-family: "メイリオ";
    font-size: 27px;
}
a {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    transition: color 0.3s;
    color: black;
}
a:hover {
    color: grey;
}
.live-url {
    color: mediumturquoise;
}
.live-url:hover {
    color: lightseagreen;
}
/* header部分 */
.logo {
    max-width: 110px;
    margin-top: -10px;
}
.header_lyrics {
    font-size: 20px;
    margin-top: 5%;
}
.logo_dummy {
    width: 18%;
}
.page-header {
    display: flex;
    justify-content: space-between;
    max-width: 1285px;
    margin: 0 0;
    padding: 0;
    max-height: 100px;
}

/* 曲選択箇所 */
.songs {
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 80%;
}
.song {
    display: inline-block;
    border-bottom: #000000 1px solid;
}
.jp {
    font-size: 120%;
    font-family: "メイリオ";
}
.en {
    font-size: 144%;
}
.info {
    margin: 10px 10px 10px 10px;
    height: 85px;
    background-color: #F2F2F2;
}
#display_title {
    font-size: 160%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    min-height: 40px;
}
#display_write {
    margin-left: 1%;
    font-size: 80%;
    font-family: 'Cormorant Garamond', serif;
}
#display_make {
    margin-left: 1%;
    font-size: 80%;
    font-family: 'Cormorant Garamond', serif;
}
#display_lyric {
    font-size: 100%;
    font-family: 'Cormorant Garamond', serif;
}
.footer-nav{
    padding: 0;
    text-align: center;
    list-style: none;
    margin: 40px;
}
.footer-nav li{
    display: inline-block;
}
/* Page topボタン */
.js-scroll-fadein{transition:opacity 1s;visibility:hidden;opacity:0}.js-scroll-fadein.is-fadein{visibility:visible;opacity:1}.arrow{position:fixed;right:12px;bottom:12px;color:#fff;cursor:pointer;background-color:#c4c4c4;border-radius:22px;padding:20px;transition:all 0.2s ease-in-out}.arrow:hover{opacity:.8;bottom:15px;box-shadow:0 2px 4px 1px rgba(0,0,0,0.5)}.arrow:before,.arrow:after{content:"";width:12px;height:12px;border-top:solid 3px #fff;border-right:solid 3px #fff;transform:rotate(-45deg);position:absolute;left:14px}.arrow:before{top:11px}.arrow:after{top:21px}
/* footer */
footer {
    background: url(../img/func_footer.jpg);
    background-repeat: repeat-x;
    min-height: 100px;
    text-align: center;
}
footer p {
    text-align: center;
    color: #fff;
    font-family: "Kaiti SC";
    font-size: 20px;
    padding-top: 1.2rem;
}
@media (max-width: 639px) {
    /* スマホ用のcssを記述 */
    .main-img {
        width: 96%;
        text-align: center;
    }
    .screen-img {
        display: none;
    }
    .phone-img {
        display: block;
    }
    img {
        width: 100%;
    }
    .page-header {
        margin: 2% 2% 0 2%;
    }
    .page-header img {
        width: 20%;
        height: 20%;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    ::before , ::after {
        box-sizing: inherit;
    }

    dl {
        margin-left: 10px;
        margin-right: 10px;
    }
    dt, dd{
        font-size: 15px;
    }
    dt {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    dd {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .footer-nav img{
        width: 30px;
    }
    footer p {
        font-size: 2vh;
    }
}